<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epic | Chatroom</title>
    <link rel="stylesheet" href="/css/mstyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
    <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/iconexpo/speech-balloon-orange/256/speech-balloon-orange-e-icon.png" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

</head>
<body style="background-color: black;">
    <div id="feedback"></div>
    <div id="chatroom" class="col-md-11 ml-md-5" style="height: 75vh; overflow-y: auto; overflow-x: auto; color: white; font-size: 14px"></div>
    <div class="row login_form fixed-bottom mb-2 offset-1">
        <input class="col-9" type="text" name="message" id="message" style="background-color: black; color: white; border: 0px; border-bottom: 1px solid #ff6c00;" placeholder="please type your message here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'please type your message here'">
        <button type="submit" id="send_message" class="primary-btn col-1" style="border: 0px"><img src="/icons/send2.jpg" alt="" class="col-12"></button>
        
    </div>
</body>
<script>

    $(function(){
        var socket = io.connect('https://myepicmail.herokuapp.com');
        var sender= '<%=user%>';
        var recipient = '<%=frndUsername%>';
        var message = $("#message");
        var feedback = $('#feedback');
        var send_message = $('#send_message');
        var timeStamp = new Date();
        var username = localStorage.getItem("username");
        var chatroom = $('#chatroom');
        //emitting old_message:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        socket.emit('old_message', { user: username, frndUsername: recipient });
        //listening to the old messages from back-end:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        socket.on('old_message', (data)=>{
            //data.msg_prop is an array
            // console.log(data.msg_prop);
             // <div class="col-6 msg2 text-uppercase font-weight-bold text-lg-center" style="color: white;">
                //     <div class="row">
                //         <div class="col-10 mt-1">${ data.msg_prop[1].user }</div>
                //         <img src="/userImages/${ data.frnd_img1 }" class="col-lg-2 col-sm-1 img" alt="">
                //     </div>
                // </div>`
            for (x in data.msg_prop) {
                //displaying for the user=sender
                if(username==data.msg_prop[x].user){
                    chatroom.append(`<div class='msg2 col-10 row offset-2 float-right mt-1 pt-1 text-right animated rollIn'>
                        <div class="text-left col-2">${ data.msg_prop[x].timeStampHr }:${ data.msg_prop[x].timeStampMin }</div> 
                        <div class="col-10">${ data.msg_prop[x].message }  </div>
                        
                    </div>`);
                }
                //displaying for the friend=recipient
                else{
                    chatroom.append(`<div class='msg col-10 row mt-1 pt-1 float-left text-left animated rollIn'>
                        <div class="col-10">${ data.msg_prop[x].message }  </div>
                        <div class="text-right col-2">${ data.msg_prop[x].timeStampHr }:${ data.msg_prop[x].timeStampMin }</div> 
                        

                    </div>`)
                }
            }
        })

        //emitting typing
        message.bind('keyup', ()=>{
            socket.emit('typing', { sender: sender, recipient: recipient });
        });

        //listening to typing:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        socket.on('typing',(data)=>{
            if(sender==' '+data.recipient || sender==data.recipient){
                if(recipient==' '+data.sender || recipient==data.sender)
              feedback.html(`<p class='text-light text-center animated flash'>${data.sender}<i> is typing a message...</i></p>`);
            }
        });

        //emitting not typing onblur
        message.bind('blur', ()=>{
            socket.emit('not-typing', { sender: sender, recipient: recipient });
        });
        //listening to not typing:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        socket.on('not-typing',(data)=>{
            if(sender==' '+data.recipient || sender==data.recipient){
                if(recipient==' '+data.sender || recipient==data.sender){
                    feedback.html('');
                }
            }
        });

        


        //emitting message:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        send_message.click(function(){
            if(message.val()!==''){
                socket.emit('new_message', { user: username, message: message.val(), frndUsername: recipient , timeStampMin: timeStamp.getMinutes(), timeStampHr: timeStamp.getHours(), timeStampSec: timeStamp.getSeconds()});
                message.val('');
             }
        });


        //listening to the messages from back-end
        socket.on('new_message', (data)=>{
            if(username==data.msg_prop.user){
                chatroom.append(`<div class='msg2 col-10 row offset-2 float-right mt-1 pt-1 text-right animated rollIn'>
                    <div class="text-left col-2">${ data.msg_prop.timeStampHr }:${ data.msg_prop.timeStampMin }</div> 
                    <div class="col-10">${ data.msg_prop.message }  </div>
                </div>`);
                }
                //displaying for the friend=recipient
                else{
                    chatroom.append(`<div class='msg col-10 row mt-1 pt-1 float-left text-left animated rollIn'>
                        <div class="col-10">${ data.msg_prop.message }  </div>
                        <div class="text-right col-2">${ data.msg_prop.timeStampHr }:${ data.msg_prop.timeStampMin }</div> 
                    </div>`)
                }
           
        })

    })
</script>

</html>

